@import "utils/vars";
@import "settings";
@import "bootstrap";
@import "_theme";
@import "font-awesome";

@import "slick";


@import "components/_base";
@import "components/_buttons";
@import "components/_side_nav";
@import "components/_forms";
@import "components/_tables";
@import "components/_breadcrumbs";
@import "components/_images";
@import "components/_labels";


@import "apps/header";
@import "apps/footer";
@import "apps/busroutes";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}